.div-A{
    width:200px;
    height:200px;
    background-color:blue;
    border:30px solid red;
    padding:20px;
    box-sizing: border-box;
}
.div-A:hover{
    background-color: black;
    border-color:green;
}


/* Observe que mesmo a div-A tendo 100px a menos
ela consegue ser do mesmo tamanho da div-B*/

/* A margem nao interfere no tamanho do elemento mas
Border e Padding sim! como vemos nos exemplos.*/
.div-B{
    width:300px;
    height:300px;
    background-color:green;
    margin-top:20px;
}
h1{
    height:37px;
    padding:8px;
    border:none;
    margin:40px;
    background-color: blueviolet;
    box-sizing: border-box;
}
/* O valor "border box" diz para o navegador
que o meu elemento e todo ele deve se encaixar dentro
desses 500px de altura e 100px de largura*/
h2{
    color:rgb(193, 23, 23);
    width:500px;
    height:100px;
    border:10px solid black;
    box-sizing:border-box;
    background-color: aqua;
    margin-top: 30px;
    padding: 20px;
}
h3{
    height:37px;
}